* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  width: 320px;
  padding: 22px;
  border: 3px solid #f1eeee;
  border-radius: 10px;
  background-color: #060101ca;
}

.display {
  min-height: 70px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 32px;
  overflow: hidden;
  background-color: white;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  width: calc((100% - 30px) / 4);
  min-height: 55px;
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #050606;
  opacity: 0.8;
  color: #f2f2f2;
}

.clear {
  width: 100%;
}

.operator,
.equals {
  font-weight: bold;
}

.number {
  background-color: #f2f2f2;
  color: #222222;
}

.operator {
  background-color: #d98510;
  color: #ffffff;
}

.equals {
  background-color: #058b26;
  color: #ffffff;
}

.clear {
  background-color: #b4271f;
  color: #ffffff;
  font-size: 1.8rem;
}
